<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-xl">
      <h2
        class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl"
      >
        Ekibimiz
      </h2>
      <p class="mt-6 text-lg/8 text-gray-600">
        We’re a Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. . It was popularised in the
        1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="size-16 rounded-full"
            src="assets/imgs/atahan.jpg"
            alt=""
          />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">
              Atahan Güne
            </h3>
            <p class="text-sm/6 font-semibold text-indigo-600">Web Developer</p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="size-16 rounded-full"
            src="assets/imgs/atahan.jpg"
            alt=""
          />
          <div>
            <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">
              İlker Çelebi
            </h3>
            <p class="text-sm/6 font-semibold text-indigo-600">Ai Developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
